@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-black bg-white backdrop-blur-md;
  content: "";
}

.triangle {
  position: relative;
}

@media (min-width: 1024px) {
  .lg\:triangle::before {
    content: "";
    position: absolute;
    z-index: -10;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 20vw solid transparent;
    border-bottom: 20vw solid transparent;
    border-right: 60vw solid #1a13ee51;
    filter: brightness(0.6);
  }
}

.about-us-bg-image {
  background-image: url("../public/TBI-40yr.jpg");
}
